{% extends 'dataviewer/base.html' %}

{% block page %}
  <script>
    {% set package = package or h.get_package_data(resource.package_id) %}
    {% if package.spatial %}
      var spatial = '{{ package.spatial.replace("\n","")|safe }}';
    {% else %}
      var spatial = '';
    {% endif %}
  </script>

  <div>
    {% block preview %}
      <pre
        {% block pre_inner %}
          data-module="cesiumpreview"
          data-module-server="{{ h.cesiumpreview_server_url('default') }}"
          {% block cesium_home_camera %}
            data-module-home-camera="{{ h.cesiumpreview_extent('default') or 'false' }}"
          {% endblock cesium_home_camera %}
        {% endblock pre_inner %}
        >
        {% block preview_inner %}
          <div class="loading">
            {{ _('Loading...') }}
          </div>
        {% endblock preview_inner %}
      </pre>
    {% endblock preview %}
  </div>

  {% set type = 'asset' if h.ckan_version() > '2.9' else 'resource' %}
  {% include 'snippets/cesium_' ~ type ~ '.html' %}
{% endblock %}
